.all-workouts{
    margin: 25px auto;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    /* display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    row-gap: 10px;
    column-gap: 20px; */
}
.workout{
    width: 320px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    text-align: center;
}
.workout button{
    padding: 2px;
    display: block;
    margin: 5px auto;
}
.workout img{
    width: 80%;
    height: 80%;
}

.loader{
   display:flex;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    
}